<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link
            rel="icon"
            href="/img/title-icon.png"
            type="image/x-icon"
    />
    <title th:text="${title}">Nika | Post</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <a href="/admin">&larr; Back</a>

    <div class="admin-title">
        <h2>Posts</h2>
        <a href="/admin/add-post" class="button">+ Add New</a>
    </div>

    <ul class="admin-posts">
        <div th:each="post: ${posts}">
            <li>
                <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">
                    &nearr;
                </a>
                <div class="admin-post-controls">
                    <a th:href="@{/admin/edit-post/{id}(id=${post.id})}" class="btn">Edit</a>
                    <form th:action="@{/admin/delete-post/{id}(id=${post.id})}" th:method="DELETE" style="display:inline;">
                        <input type="submit" value="Delete" class="btn-delete btn">
                    </form>
                </div>
            </li>
        </div>

    </ul>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>

