<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link
            rel="icon"
            href="/img/title-icon.png"
            type="image/x-icon"
    />
    <title th:text="${title}">Nika | Post</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <a href="/admin">&larr; Back</a>

    <div class="admin-title">
        <h2>Posts</h2>
        <a href="/admin/add-post" class="button">+ Add New</a>
    </div>

    <ul class="admin-posts">
        <li>
            <a href="/post/1">
                Example Post Title 1 &nearr;
            </a>
            <div class="admin-post-controls">
                <a href="/edit-post/1" class="btn">Edit</a>
                <form action="/delete-post/1?_method=DELETE" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" class="btn-delete btn">
                </form>
            </div>
        </li>
        <li>
            <a href="/post/2">
                Example Post Title 2 &nearr;
            </a>
            <div class="admin-post-controls">
                <a href="/edit-post/2" class="btn">Edit</a>
                <form action="/delete-post/2?_method=DELETE" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" class="btn-delete btn">
                </form>
            </div>
        </li>
        <!-- Thêm nhiều bài viết khác nếu cần -->
    </ul>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>

