<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link
            rel="icon"
            href="/img/title-icon.png"
            type="image/x-icon"
    />
    <!--    <script type="text/javascript" defer src="/js/script.js"></script>-->
    <title th:text="${title}">Nika | Post</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <a href="/admin">&larr; Back</a>
    <div class="admin-title">
        <h2>Xem / Chỉnh Sửa Bài Viết</h2>

        <form th:action="@{/admin/delete-post/{id}(id=${post.id})}" th:method="DELETE" style="display:inline;">
            <input type="submit" value="Delete" class="btn-delete btn">
        </form>
    </div>

    <form th:action="@{/admin/edit-post/{id}(id=${post.id})}" th:method="PUT">

        <label for="active"><b>Active</b></label>
        <select name="active" id="active">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Post Title" name="title" th:value="${post.title}">

        <label for="body"><b>Content</b></label>
        <textarea name="body" cols="50" rows="10" th:text="${post.body}"></textarea>

        <input type="submit" value="Update" class="btn">
    </form>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>
