<html xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="header" th:fragment="header">
        <a href="/" class="header__logo">D22 ATTT PTIT</a>

        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about" class="">About</a>
                </li>
                <li>
                    <a href="/contact" class="">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="header__button">
            <div th:if="${username != null}" class="dropdown" aria-expanded="false" >
                <a th:text="${username}">
                    <img style="width: 6px; height: 6px" src="/img/down.png" alt="">
                </a>
                <div class="dropdown-content">
                    <a th:href="@{/profile}">Profile</a>
                    <a href="/auth/logout">Logout</a>
                </div>
            </div>

            <div th:if="${username == null}">
                <a href="/auth/login">Login</a>
            </div>
        </div>
    </header>
</html>

