<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link
            rel="icon"
            href="/img/title-icon.png"
            type="image/x-icon"
    />
    <!--    <script type="text/javascript" defer src="/js/script.js"></script>-->
    <title th:text="${title}">Nika | Post</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="about-page">
        <img style="width: 30%; height: 30%; border-radius: 20px;" src="/img/luffy-login.png" alt="">
        <div class="about-info">
            <h2 class="author__heading">Duong Quang Hao</h2>
            <p>D22CQAT02-B</p>
            <p>Major: Information Security</p>
            <p>Posts and Telecommunications Institute of Technology</p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>
