<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container">
        <div class="login-form">
            <div>
                <h3>Sign In</h3>

                <p>Don't have an account? Please <a href="/auth/register">Register</a></p>

                <form th:object="${userLoginDTO}" action="/auth/login" method="post" class="admin-form">
                    <label for="username"><b>Username</b></label>
                    <input th:field="*{username}" type="text" placeholder="username" required>

                    <label for="password"><b>Password</b></label>
                    <input th:field="*{password}" type="password" placeholder="password" required>

                    <!-- Hiển thị thông báo lỗi nếu có -->
                    <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid username</p>
                    <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password</p>

                    <p class="error">Invalid username or password.</p>

                    <input type="submit" value="Login" class="admin-form-btn">
                </form>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </div>
</body>
</html>
